<template>
    <table class="table table-bordered table-condensed table-striped">
        <thead class="table-hover">
            <tr>
                <th v-if="allowSelection"></th>
                <th v-for="(caption, key) in columns">{{ caption }}</th>
                <th v-if="allowEdit">
                    <button type="button" v-on:click="setEditingRow('new')" class="btn btn-success">Add New</button>
                    <data-edit v-bind:show="editingRow == 'new'" 
                               @onClose="closeModal"
                               @onChange="saveData"
                               @onCreate="saveData"
                               :data="getEmpty()"
                               :edit-columns="dataCreateColumns"
                               :create-mode='true'>
                               </data-edit>
                </th>
            </tr>
            <tr>
                <th v-if="allowSelection"></th>
                <th v-for="(caption, key) in columns">
                    <input v-if="key in dataFilters" v-model="dataFilters[key]" type="text">
                </th>
                <th v-if="allowEdit"></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(row, index) in groupByFilter">
                <td v-if="allowSelection">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" v-bind:value="row['id']" v-model="selectedRows">
                        </label>
                    </div>
                </td>
                <td v-for="(caption, key) in columns">{{ row[key] }}</td>
                <td v-if="allowEdit">
                    <button type="button" class="btn btn-info" v-on:click="setEditingRow(index)">Edit</button>
                    <data-edit v-bind:show="editingRow == index" 
                               @onClose="closeModal"
                               @onChange="saveData"
                               :data="row"
                               :edit-columns="columns"></data-edit>
                </td>
            </tr>
            <tr>
                <td v-if="selectedRows.length">
                    <button type="button" class="btn btn-danger" @click="deleteSeleted()">Delete Selected Rows: {{ selectedRows.length }}</button>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script src="./script.js"></script>