<template>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">DataGrid Component</div>
            <div class="panel-heading">
                <pagination v-if="!error && response.data"
                            :count-pages="response.last_page"
                            :current-page="response.current_page"
                            @onPageChenged="loadByPage"></pagination>
            </div>
            <div class="panel-body">
                <grid-table v-if="!error && response.data"
                            :columns="response.columns"
                            :data="response.data"
                            :data-filters="response.filters"
                            :allow-edit="true"
                            :create-columns="response.create"
                            @onSave="saveData"
                            @onDelete="deleteRows">
                            </grid-table>

                <p v-if="error" v-html="error"></p>
            </div>

        </div>
        
    </div>
</template>

<script src="./script.js"></script>
