<template>
    <transition name="fade">
    <div class="modal-mask" v-show="isShow">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" arial-label="Close">
                        <span arial-hidden="true" v-on:click="hide()">&times;</span>
                    </button>
                    <h4 class="modal-title">Edit Data</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group" v-for="(caption, key) in editColumns">
                            <label>{{ caption }}</label>
                            <input type="text" class="form-control" v-model="formData[key]">
                            <span v-if="getErorr(key)" class="error">{{getErorr(key)}}</span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" @click="reset()" :disabled="dataChenged">Discard Changes</button>
                    <button class="btn btn-success" :disabled="dataChenged" v-on:click="save()">Save Data</button>
                </div>
            </div>
        </div>
    </div>
    </transition>
</template>

<script src="./script.js"></script>
<style src="./styles.css"></style>