<template>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li :class="{ disabled: currentPage == 1 }">
                <a href="#" aria-label="Previous" @click="setPrevious()">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li v-for="page in countPages" :class="{ active: (currentPage == page)}">
                <a href="#" @click="setPage(page)">{{ page }}</a>
            </li>
            <li :class="{ disabled: currentPage == countPages }">
                <a href="#" aria-label="Next" @click="setNext()">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</template>

<script src="./script.js"></script>